<form method="POST" action="/schedule">
    <label>Enter time</label>
    <input type="time" name="timedata"><br>
    <label>Enter date</label>
    <input type="date" name="datedata">
    <input type="submit" >
</form>